          <div class="media p-3 border border-dark">
            <img class="d-flex mr-3" src="http://lorempixel.com/64/64/people/" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">ООО Строй-сервис-монтаж</h5>
              <p class="my-0"><strong>Место деятельности:</strong> Новосибирск</p>
              <p class="my-0"><strong>Продукция:</strong> ЖБИ, бетон</p>
              <p class="my-0"><strong>Адрес:</strong> Под часами, на том-же месте</p>
              <p class="my-1"><strong>Телефон:</strong> 000-00-00</p>
            </div>
          </div>