      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <div class="d-flex">
            <div class="flex-grow-1">
              вчера, в 21:30
            </div>
            <div class="flex-grow-0">
              &#9733; <a href="#">в закладки</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <p class="my-2">60 шт. ПК от 72-15 до ПК 21-15, Криводановка, с доставкой</p>
          <p class="my-2">Алексей</p>
          <button type="button" class="btn btn-outline-dark btn-sm">Показать телефон</button>
          12 просмотров
          <hr class="mb-0"/>
        </div>
      </div>
