              <div class="carousel-item{% if not review %} active{% endif %}"> <!-- item 1 -->
                <div class="media p-3 border border-dark">
                  <img class="d-flex mr-3" src="http://lorempixel.com/64/64/people/" alt="Generic placeholder image">
                  <div class="media-body">
                    <h5 class="mt-0">Кирилл, 29 лет, г.Барабинск</h5>
                    Бла-бла, мне помогло, все супер! Бла-бла, мне помогло, все супер! Бла-бла, мне помогло, все супер! Бла-бла, мне помогло, все супер! Бла-бла, мне помогло, все супер!
                  </div>
                </div>
              </div> <!-- end item -->
